.header {
    background-color: red;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    border-radius: 20px;
    width: 100%;
  }
  
  .title-wrapper {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .title-wrapper .logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-left: 0.8rem;
  }
  
  .title-wrapper .title {
    white-space: nowrap;  /* Verhindert den Zeilenumbruch */
  }
  .header h1 {
    font-size: 2rem;
  }
  
  .searchbar-wrapper {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .search-bar {
    width: 70%;
    height: 3rem;
    border-radius: 30px;
    padding: 0 1rem;
    border-style: none;
    background-color: aliceblue;
    color: black;
    font-size: larger;
  
  }

  .notification-wrapper {
    flex: 3;
  }

  .notifications {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .notification-icon {
    margin-right: 0.8rem;
  }
  
  .notification-avatar {
    margin-right: 0.8rem;
  }
  
  
  
  @media (max-width: 600px) {  /* Breite für kleine Geräte */

    .title-wrapper {
      flex: 1;
    }
  
    .title-wrapper .title {
      display: none;  /* Blendet den Text bei kleiner Breite aus */
    }
  
    .notification-wrapper {
      flex: 1;
    }
  
    .notification-wrapper .notification-icon {
      display: none;
    }
  }