.post-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    /* background-color: var(--background-color); */
    margin: 1rem;
}

.post {
    padding: 16px;
    border-radius: 16px;
    background-color: var(--background-color);
}

.post-inner {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; Kommt dann zum Media Query */
    padding: 1rem;
}


.post .post-content {
    display: flex;
    flex-direction: column;
}

.post-content__text {
    white-space: pre-wrap;
    max-height: 800px;
    overflow-y: auto;
}

.post-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.attachment-wrapper {
    margin: 1rem;
}
.attachments {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    
    margin-bottom: 1rem;
    height: 10rem;
    width: calc(100vw - 680px);
    overflow-x: auto;
}

.attachment {
    margin: auto 8px auto 0;
    height: 80%;
}


.comments {
    /* Standardzustand: ausgeklappt = 0 Höhe */
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s ease;
}

.post-comments .comments-count {
    position: relative;
    cursor: pointer; 

    padding-bottom: 0; /* Platz für die Linie */
}

.comments-count::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;

    /* Für die Animationslogik verwenden wir eine horizontale Skalierung */
    transform: scaleX(0);        /* anfangs ausgeblendet (Breite=0%) */
    transform-origin: left center; /* Skalierung startet links und geht nach rechts */
    
    transition: transform 0.3s ease; /* Animationsdauer und -kurve */
}

.comments-count:hover::after {
    transform: scaleX(1);  /* volle Breite */
}

/* Zustand für ausgeklappte Kommentare */
.comments.show-comments {
    max-height: 600px; /* oder ein anderer Wert */
    overflow-y: auto;  /* Scrollbar, falls Inhalt höher als 600px */
}

/* Zustand für eingeklappte Kommentare (wenn du explizit verwendest) */
.comments.hide-comments {
    max-height: 0;
    overflow-y: hidden;
}

.post-details, .post-likes, .post-comments {
    display: flex;
    flex-direction: row;
}

.post-likes, .post-comments {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 2.5rem;
}

.button-like, .likes-count, .comments-count, .button-comment {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}


.comment-info {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--background-color);
}

.comment-content {
    padding: 1rem;
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .post-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media (max-width: 1000px) {
    
    .post-wrapper {
        margin: 0 0 1rem 0;
    }

    .attachments {
        width: calc(100vw - 440px);
    }

}

@media (max-width: 786px) {
    
    .post-details {
        flex-wrap: wrap;
    }
    
    .post-likes, .post-comments {
        flex: 1;
        justify-content: start;
    }

    .attachments {
        width: calc(100vw - 240px);
    }

}