.chat-wrapper {
    width: 260px;
    height: calc(100vh - 80px);
}

.chat-wrapper .chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    margin: 14px 0 0 0;
    border-radius: 20px;
    background-color: #dbd9d9;
    color: rgb(65, 64, 64);
    transition: width 0.3s ease-in-out;
}

.chat .user-list {
    padding-left: 5px;
    overflow-y: scroll;
}

.chat .user-list .user-list-item {
    font-size: x-large;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.chat .user-list .user-list-item .MuiAvatar-root {
    margin: 10px;
}

.chat .user-list .user-list-item .MuiTypography-root {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
